---
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<div
	class='[&>p]:mb-4 [&>p]:text-md [&>p]:text-pretty [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold'
>
	<p>
		<Fragment set:html={i18n.about.first_paragraph} />
	</p>
	<p>
		<Fragment set:html={i18n.about.second_paragraph} />
	</p>

	<p>
		<Fragment set:html={i18n.about.third_paragraph} />
	</p>

	<p>
		<Fragment set:html={i18n.about.forth_paragraph} />
	</p>
	<p class='text-md mb-6 italic'>
		<Fragment set:html={i18n.about.fifth_paragraph} />
	</p>
</div>
