---
import LinkButton from "@/components/shared/LinkButton.astro";
import NextjsIcon from "@/icons/Nextjs.astro";
import StrapiIcon from "@/icons/Strapi.astro";
import NodeIcon from "@/icons/Nodejs.astro";
import ReactIcon from "@/icons/React.astro";
import GithubIcon from "@/icons/Github.astro";
import LinkIcon from "@/icons/Link.astro";
import DockerIcon from "@/icons/Docker.astro";
import NestjsIcon from "@/icons/Nestjs.astro";

import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

interface Tag {
	name: string;
	customClass?: string;
	icon: (_props: Record<string, any>) => any;
}

const TAGS: { [key: string]: Tag } = {
	NEXT: {
		name: "Next.js",
		customClass: "bg-black text-white",
		icon: NextjsIcon,
	},
	STRAPI: {
		name: "Strapi",
		customClass: "bg-purple-500/15 border border-1 border-white/30",
		icon: StrapiIcon,
	},
	REACT: {
		name: "React.js",
		customClass: "bg-white/20 text-white",
		icon: ReactIcon,
	},
	NODE: {
		name: "Node.js",
		icon: NodeIcon,
	},
	DOCKER: {
		name: "Docker",
		customClass: "bg-blue-500/20 border border-1 border-white/30",
		icon: DockerIcon,
	},
	NEST: {
		name: "Nest.js",
		customClass: "bg-red-500/20 border border-1 border-white/30",
		icon: NestjsIcon,
	},
};

interface Projects {
	titles: String;
	description: String;
	link: String;
	github?: String;
	github2?: String;
	image: String;
	tags: Tag[];
}

const PROJECTS = [
	{
		title: "Artesania Uruguay",
		description: i18n.projects.proj_1.description,
		link: "https://artesaniauruguay.uy/",
		image: "/projects/artesanias.webp",
		tags: [TAGS.REACT, TAGS.STRAPI],
	},
	{
		title: "Marcelo Coronato Metalurgia",
		description: i18n.projects.proj_2.description,
		link: "https://www.marcelocoronatometalurgia.com/",

		image: "/projects/coronato.webp",
		tags: [TAGS.REACT, TAGS.NEXT],
	},
	{
		title: "Teslo Shop",
		description: i18n.projects.proj_3.description,
		link: "https://teslo-shop-ap.vercel.app/",
		github: "https://github.com/AnthonyPastor/teslo-shop-ap",
		github2: "https://github.com/AnthonyPastor/product-rest-api",
		image: "/projects/teslo-shop.webp",
		tags: [TAGS.REACT, TAGS.NEXT, TAGS.NEST, TAGS.DOCKER],
	},
];
---

{
	PROJECTS.map(({ title, description, link, github, github2, image, tags }) => (
		<article class='mb-24'>
			<h3 class='text-2xl font-semibold text-yellow-200 mb-2 '>{title}</h3>
			<p class='text-lg my-4'>{description}</p>
			<ul class='flex gap-x-4 gap-y-2 mb-6 flex-wrap'>
				{tags.map((tag) => (
					<li>
						<span
							class={`flex gap-x-2 rounded-full text-sm items-center py-1 px-2 ${tag.customClass}`}
						>
							<tag.icon class='size-6' />
							{tag.name}
						</span>
					</li>
				))}
			</ul>

			<img
				src={image}
				alt={`Screenshot of project ${title}`}
				loading='lazy'
				class='rounded shadow-2xl shodow-white/10 aspect-video'
			/>

			<footer class='mt-4 flex gap-x-4 items-center'>
				{github && (
					<LinkButton href={github}>
						<GithubIcon class='size-6' />
						{i18n.projects.links.code}
					</LinkButton>
				)}
				{github2 && (
					<LinkButton href={github2}>
						<GithubIcon class='size-6' />
						{i18n.projects.links.api}
					</LinkButton>
				)}
				{link && (
					<LinkButton href={link}>
						<LinkIcon class='size-5' />
						{i18n.projects.links.web}
					</LinkButton>
				)}
			</footer>
		</article>
	))
}
